.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  width: 450px;

  &__btn {
    transition: all 0.3s;
  }

  &__btn:hover {
    transform: scale(1.1);
  }
}
